.header{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
.header h1{
    margin-left: 100vh;
}
.logout{
    border-radius: 2vh;
    padding: 1vh 2vh 4vh 2vh;
    background-color: black;
    color: white;
    width: 15vh;
    margin-right: 2vh;
}
.header div{
    display: flex;
    gap: 1vh;
    align-items: center;
}
.header h3{
    font-weight: 600;
}

.header h1{
    font-size: 5vh;
    font-weight: 600;
}
input[type="file"]{
    display: none;
}
.dashboardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    padding: 4vh;
    border-radius: 1vh;
    background-color: azure;
    box-shadow: 0.5vh 0.5vh 1vh rgb(139, 156, 156);
}
.predictionResults{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 5vh;
    margin-right:7vh;
    box-shadow: 0.5vh 0.5vh 1vh rgb(87, 53, 182);
}
.imageLoader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.resultContainer{
    margin-right: 10vh;
    font-size: 3vh;
    font-weight: 600;
}
.button{
    margin-top: 2vh;
    background-color: cyan;
    padding: 1vh 2vh 4vh 2vh;
}

.imageScoreContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.previousUploadsHeading {
    text-align: center; /* Center the text */
    font-size: 24px; /* Set the font size */
    margin-top: 10px; /* Add some top margin for spacing */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.imageScoreItem {
    width: 60vh; /* Set the width of each item */
    height: 60vh    ; /* Set the height of each item */
    margin-top : 10vh; /* Add some margin between each item */
    margin-right: 20vh; /* Add some margin between each item */
    margin-bottom: 20vh; /* Add some margin between each row */
    overflow: hidden; /* Hide any overflow if images are larger */
    border: 1px solid #ccc; /* Add a border around the image */
    box-shadow: 0px 0px 5px 0px rgba(152, 10, 213, 0.5); /* Add a shadow effect */
}
